{% extends 'base.html' %}
{% block content %}

    <div class="page-header">
    <h1><b>{{ title }}</b></h1>
    </div>

    <div class="row">
    <div class="col-md-9">
        <div class="tab-content">
            {% for article in articles %}
            <div id="{{ article.no }}" class="tab-pane fade
            {% if forloop.counter0 == 0 %}
            in active
            {% endif %}">
                <h1>{{ article.title }}</h1>
                <p>{{ article.post }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            {% for article in articles %}
            <li
            {% if forloop.counter0 == 0 %}
            class="active"
            {% endif %}
            >
                <a data-toggle="pill" href="#{{ article.no }}">{{ article.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    </div>

{% endblock %}